---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<header class="container">
		<hgroup>
			<h1>Juan David Suaza Cruz</h1>
			<p>Senior Software Engineer</p>
		</hgroup>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</header>

	<main class="container">
		<h2>Work Experience</h2>
		<section>
			<header>
				<h3>TrueContext</h3>
			</header>

			<p>
				I joined TrueContext, formerly ProntoForms, in July 2019 as an intern and became full-time in July 2020. During this time,
				I focused on learning from my peers while also actively developing new features for our three main repositories: 
			</p>

			<ol>
				<li>the Form Builder,</li>
				<li>Customer Satisfaction and Site-readiness (CSAT) Forms,</li>
				<li>and our in-house component library.</li>
			</ol>

			<p>
				In June 2023, I became the technical lead of the front-end stack which included the aforementioned projects,
				as well as increased collaboration in our Java and JSP-based back-end. 
				Some of the key contributions during my time as technical lead are:
			</p>

			<ul>
				<li>Led the development and redesign of the most active view of the Form Builder application</li>
				<li>Conducted customer interviews, resulting in several improvements to the User Experience in key areas of the Form Builder and CSAT Forms</li>
				<li>Mentored new team members through pair programming sessions, code reviews, and in-person conversations</li>
				<li>Oversaught the development of new features within our applications, collaborating closely with Backend and Mobile Engineers, Product Managers, User Experience Designers, and other stakeholders</li>
				<li>
					Focused heavily on improving the Developer Experience of peers by actively updating (and removing) libraries such as:
					<ol>
						<li>"Classic" Redux to Redux Toolkit, which resulted</li>
						<li>Webpack to Vite, ESBuild, and Rollup</li>
						<li>Jest to Vitest</li>
						<li>Enzyme to React Testing Library</li>
						<li>Bundle size reductions by migrating build processes from CommonJS to ES Modules</li>
					</ol>
				</li>
				<li>
					Researched methods to improve and simplify our existing React and JSP front-ends:
					<ol>
						<li>Usage and future migration of JSP-based UI to React or alternatives</li>
						<li>Improvements to our CSAT Form application's infrastructure by serving the application from a single AWS Lambda</li>
						<li>Removal of Redux as our core dependency in favor of relying on the backend</li>
					</ol>
				</li>
			</ul>
		</section>


		<h2>Education</h2>
		<section>
			<header>
				<hgroup>
					<h3>Systems Engineering</h3>
					<small>Universidad del Valle, 2014 - 2019, Cali, Colombia</small>
				</hgroup>
			</header>
			<p></p>
		</section>
	</main>

	<footer></footer>
</Layout>
