---
import Layout from "../layouts/Layout.astro";
---

<Layout title="JDSC">
	<header>
		<h1>Hi, I'm Juan</h1>
		<blockquote>a highly motivated Software Engineer with a passion for all things visual: Front End, Computer Graphics, Games, and Art</blockquote>
	</header>

	<main>
		<p>If you are interested in some of my work, check the following links:</p>
		<ul>
			<li>Here is my <a href="/resume">resume</a>, in case you're interested</li>
			<li>During the summer, I love taking pictures of wildlife around Ottawa. <a href="/photography">Check some of the pictures I've taken</a></li>
			<li>I'm also a flight simulation entushiast! Check out my set up <a href="/simulation">here</a></li>
		</ul>
	</main>
</Layout>
