---
import ExperienceEntry from "../components/ExperienceEntry.astro";
import Layout from "../layouts/Layout.astro";

const SAME =
	"Developed new features collaborating closely with other developers, Product Managers, UX Designers, and other stakeholders";

const TCXT_TOOLS =
	"React, TypeScript, Java Spring, JSP, Docker, AWS, Atlassian Suite (Jira, Bitbucket, Confluence), Git";
---

<Layout title="Resume - JDSC">
	<header>
		<h1>Juan David Suaza Cruz</h1>
		<p>
			Highly motivated Software Engineer with a strong foundation in software development principles and aptitude for mastering new technologies, including low-level programming languages and AI.
			Looking to solve complex challenges in a new domain with a team-centric mindset using Agile-inspired processes.
		</p>
	</header>

	<hr />

	<main>
		<h2>Programming Languages and Tools</h2>
		<ul>
			<li><b>Professional Experience:</b> {TCXT_TOOLS}</li>
			<li><b>Hobby Experience:</b> C++, Rust, Zig, Python, Google Cloud, Unity 3D, C#, LangChain, PyTorch, Hugging Face</li>
		</ul>

		<hr />

		<h2>Work Experience</h2>
		<ExperienceEntry place="TrueContext" title="Senior Software Engineer" date="June 2023 - May 2025">
			<li>Led the development and redesign of the most active view of the Form Builder application, leading to a 30% reduction in LoC as well as the introduction of new multi-editing capabilities</li>
			<li>Conducted customer interviews, resulting in several improvements to the UX in key areas of customer facing applications</li>
			<li>Mentored new team members through pair programming sessions, code reviews, and in-person conversations</li>
			<li>
				Focused heavily on improving the DX, notably:
				<ul>
					<li>Redux to Redux Toolkit, resulting in a 35% reduction in LoC and a streamlined reducer coding style</li>
					<li>Webpack to Vite, ESBuild, and Rollup, leading to millisecond start-up and hot-reload times and introduction of TypeScript into the codebases</li>
				</ul>
			</li>
			<li>
				Researched methods to improve and simplify our existing React and JSP front-ends, as well as AI solutions to automatic form generation (see Education)
			</li>

		</ExperienceEntry>

		<ExperienceEntry place="TrueContext" title="Software Engineer" date="July 2020 - May 2023">
			<li>Contributed actively to the Java backend, developing API end-points, serializers, and validation rules</li>
			<li>
				Focused on performance and robustness, notably:
				<ul>
					<li>Improved loading times by 50% by refactoring the build process of the in-house component library</li>
					<li>Increased testing coverage from ~1K to ~10K tests by abstracting parameterized tests, resulting in near-zero escalations since 2021</li>
					<li>Continuously refactored our CI/CD pipelines to reduce times and isolate flaky tests</li>
				</ul>
			</li>
		</ExperienceEntry>

		<ExperienceEntry place="TrueContext" title="Intern Software Engineer" date="July 2019 - June 2020">
			<li>{SAME}</li>
			<li>Utilized Jira, Bitbucket, and Confluence within an Agile framework to manage feature development and track progress</li>
		</ExperienceEntry>

		<hr />

		<h2>Education</h2>
		<ExperienceEntry place="Universidad del Valle, Cali, Colombia" title="MSc. Smart Application Development" date="2024 - Paused">
			<li><a href="https://github.com/Tsubasa1218/maestria-coding">Project:</a> parsing a form in a PDF or Image using AI tools like AWS Textract (and/or Hugging Face) to generate a JSON representation of it for further ingestion by TrueContext systems</li>
		</ExperienceEntry>

		<ExperienceEntry place="Universidad del Valle, Cali, Colombia" title="Systems Engineering" date="2014 - 2019">
			<li>Developed a game in Unity 3D to convey basic English vocabulary, attempting to use the <i>Asynchronous Advantage Actor-Critic</i> Deep Reinforcement Learning algorithm (Python), as well as simpler methods like heuristics to drive enemy behaviours</li>
			<li>Teaching Assistant of: Introduction to Programming (Python, Ruby), Numerical Methods (C++, SciLab), and Introduction to Digital Image Processing (C++, Java)</li>
			<li>Coordinator of the <a href="https://eisc.univalle.edu.co/index.php/grupos-investigacion/multimedia-y-vision-por-computador">Multimedia and Computer Vision</a> Research Group</li>
		</ExperienceEntry>

		<h3>Publications</h3>
		<ul>
			<li>
				<a href="https://link.springer.com/chapter/10.1007/978-3-030-34644-7_42">A health point-based dynamic difficulty adjustment strategy for video games</a>
			</li>
			<li>
				<a href="https://www.researchgate.net/publication/333248932_Tales_of_Etrya_A_Digital_Game_for_Motivating_Students_to_Learn_and_Rehearse_English_Vocabulary">Tales of Etrya: A Digital Game for Motivating Students to Learn and Rehearse English Vocabulary</a>
			</li>
		</ul>

		<hr />
		<h2>Personal Projects</h2>

		<ul>
			<li>
				<a href="https://github.com/Tsubasa1218/toliss-a320">Airbus A320 Control for X-Plane 12:</a> Usage of X-Plane's websocket server to interact with an A320 simulation using a web application built in Svelte. The goal is to create a physical button box using ESP32 modules and the newer Rust HAL. Also uses LangChain to create and query a vector database containing all the information provided by the simulator
			</li>

			<li>
				<a href="https://github.com/Tsubasa1218/runtime">Basic Conditional Logic Runtime:</a> Signal's based reactive system in C++21 to update question answers in THEN statements when IF statement predicates met
			</li>

			<li>
				<a href="https://github.com/Tsubasa1218/zig-in-one-weekend">Ray-tracing In One Weekend:</a> Implemented in Zig as a learning exercise
			</li>

			<li>
				Form Storage: Implemented a system similar to ReduxJS in Rust as a learning exercise
			</li>

			<li>
				<a href="https://github.com/Tsubasa1218/house">Air Quality Sensor:</a> Modified sample Arduino code to capture air quality data to a self-hosted Rust-based server for storage (SQLite) and further display in a dashboard-like UI
			</li>
		</ul>
	</main>
</Layout>
